<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Index page</h1>
    {% if user.is_authenticated %}
    <h2>You authorized as {{ user.username }}</h2>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <h2>You are no authorized</h2>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</body>
</html>