<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if form.errors %}
    <p>Oops, something went wrong :c</p>
    {% endif %}

    {% if next %}
    <p>No acess</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{form.username}}</p>
        <p>Password: {{form.password}}</p>
        <p><input type="submit" value="login"></p>
        <input type="hidden" name="next" value="{{next}}">
    </form>
</body>
</html>