<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>You are on the registration page</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>Oops, something went wrong :c</p>
        {% endif %}

        {{ form }}
        <input type="submit", value="Register">
    </form>

</body>
</html>